<div class="col-sm-10 col-sm-offset-2">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-sm-6">
      <h2>Update Employer</h2>
      <ol class="breadcrumb">
        <li>
          <strong>Update Employer</strong>
        </li>
      </ol>
    </div>

  </div>

  <p class="m-b-none">
    <i class="fa fa-info-circle"></i>Use the form below to update employer to the system.</p>


  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="contact-details">
      <form [formGroup]='myForm' (ngSubmit)="onSubmit(user._id)">
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group m-t-sm">
                <label class="control-label">Registered on</label>

                <div class="hr-line-dashed m-b-sm m-t-xs"></div>

                <p class="fz16">{{createdAt}}</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group m-t-sm">
                <label class="control-label">Last updated on</label>

                <div class="hr-line-dashed m-b-sm m-t-xs"></div>

                <p class="fz16">{{updatedAt}}</p>
              </div>
            </div>

            <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group m-t-sm">
                <div class="clearfix">
                  <label class="control-label pull-left">Jobs</label>
                </div>

                <div class="hr-line-dashed m-b-sm m-t-xs"></div>

                <div class="clearfix">
                  <p class="pull-left">active:
                    <a>5000</a>
                  </p>

                  <p class="pull-right">total:
                    <a>150000</a>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <label class="control-label">Company name</label>

                <input formControlName="companyname" type="text" name="company_name" id="company_name" class="form-control required" value="Accounting Solutions" data-msg-required="This field is required."
                  aria-required="true">
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <label class="control-label">Contact name</label>

                <input formControlName="contactname" type="text" id="contact_name" class="form-control" value="Charles Brenton" data-msg-required="This field is required.">
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <label class="control-label">Phone</label>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-phone"></i>
                  </span>

                  <input formControlName="phone" type="text" id="phone" value="01246 205675" class="form-control">
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="form-group">
                <label class="control-label">Email</label>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-at"></i>
                  </span>

                  <input type="text" formControlName="email" id="email" class="form-control required email" value="info@accountf.com" data-msg-required="This field is required."
                    data-msg-email="Please enter a valid email." aria-required="true">
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-4 col-sm-6">
              <div class="form-group">
                <label class="control-label">Website</label>

                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-globe"></i>
                  </span>

                  <input type="text" formControlName="url" id="url" class="form-control url" value="http://www.accounting-solutions.biz/">
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-4 col-sm-6">
              <div class="form-group">
                <label class="control-label">Password</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </span>
                  <input type="text" formControlName="password" id="password" class="form-control required" value="" maxlength="100" aria-required="true">
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-4 col-sm-6">
              <div class="form-group">
                <label class="control-label">Address</label>
                <div class="input-group">
                  <span class="input-group-addon">
                    <i class="fa fa-lock"></i>
                  </span>
                  <input type="text" formControlName="address" id="password" class="form-control required" value="" maxlength="100" aria-required="true">
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-4 col-sm-6">
              <div class="form-group">
                <label class="control-label">Status</label>
                <div class="clearfix"></div>
                <div class="switch onoffswitch-data pull-left">
                  <div class="onoffswitch">
                    <input type="checkbox" class="onoffswitch-checkbox" value="T" id="status" name="status" checked="">
                    <label class="onoffswitch-label" for="status">
                      <span class="onoffswitch-inner" data-on="Active" data-off="Inactive"></span>
                      <span class="onoffswitch-switch"></span>
                    </label>
                  </div>
                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>

          <div class="hr-line-dashed"></div>

          <div class="row">
            <div class="col-lg-6 col-md-8 col-sm-6">
              <div class="form-group">
                <label class="control-label">Description</label>

                <div class="input-group pj-multilang-wrap" data-index="1">
                  <textarea class="form-control mceEditor required" formControlName="description" cols="30" rows="10" data-msg-required="This field is required."
                    aria-required="true"> s odictum, vitae vestibrnare</textarea>
                  <span class="input-group-addon pj-multilang-input">
                    <img src="../../../assets/img/english.png" alt="English">
                  </span>
                </div>
              </div>
            </div>

            <!-- <div class="col-lg-3 col-md-4 col-sm-6">
              <div class="form-group">
                <label class="control-label">Logo</label>
                <div class="text-center">
                  <div class="pj-employer-logo">
                    <p class="m-b-md">
                      <img src="../../../assets/img/companylogo.jpg" style="width: 100px; height: 90px;" alt="" class="pj-scale">
                    </p>
                    <p class="m-b-md">
                      <a href="http://vevs.website/ryambudha/index.php?controller=pjJobPortalEmployers&amp;action=pjActionDeleteLogo&amp;id=25"
                        rev="25" class="btn btn-xs btn-danger btn-outline btn-file pj-delete-logo">
                        <i class="fa fa-trash"></i> Delete</a>
                    </p>
                  </div>
                  <div class="fileinput fileinput-new" data-provides="fileinput">
                    <span class="btn btn-primary btn-outline btn-file">
                      <span class="fileinput-new">
                        <i class="fa fa-upload m-r-xs"></i> Change image</span>
                      <input type="file" name="logo">
                    </span>
                    <span class="fileinput-filename"></span>
                    <a href="http://vevs.website/ryambudha/index.php?controller=pjJobPortalEmployers&amp;action=pjActionUpdate&amp;id=25#" class="close fileinput-exists"
                      data-dismiss="fileinput" style="float: none">×</a>
                  </div>
                </div>
              </div>
            </div> -->
          </div>

          <div class="hr-line-dashed"></div>

          <div class="clearfix">
            <button type="submit" class="btn btn-primary btn-lg pull-left">Save</button>
            <!-- <button class="btn btn-white btn-lg pull-right" type="button" onclick="window.location.href=&#39;http://vevs.website/ryambudha/index.php?controller=pjJobPortalEmployers&amp;action=pjActionIndex&#39;;">Cancel</button> -->
          </div>
        </div>
      </form>
    </div>
  </div>
</div>